<div class="row g-0 col-12 text-center bg-opacity-25 rounded-bottom bg-secondary">
  <img class="col-md-6 col-lg-5 object-fit-cover" [ngClass]="{'rounded-end':!movil}" [src]="'../../assets/'+titulo+'.png'" [alt]="titulo">
  <div class="col-md-6 col-lg-7 d-flex flex-column justify-content-evenly p-3">
    <h1 class="fw-bold m-0 text-secondary">{{titulo}}</h1>
    <div class="offset-lg-3 col-lg-6 row g-0 p-3 p-md-0">
      <span class="h4 col bg-secondary text-white shadow-sm m-0 p-3 rounded-pill" *ngFor="let tag of etiquetas">{{tag}}</span>
    </div>
    <span>
      Puedes consultar el código de este repositorio a través del siguiente
      <a class="link-secondary" [href]="link" target="_blank">enlace</a>.
    </span>
  </div>
</div>
