<div class="container-fluid display-6 text-center my-5">
  <div>
    Por ahora este sitio está incompleto, pero puedes encontrar el código de este repositorio en
    <a href="https://github.com/srequenafiliu/SweetStoves" target="_blank">GitHub</a>.
  </div>
  <div>
    Además, puedes probar el código mediante los siguientes enlaces:
    <dl class="text-start">
      <dt>Frontend</dt>
      <dd><a href="https://sweetstoves.onrender.com/" target="_blank">https://sweetstoves.onrender.com/</a></dd>
      <dt>Backend (Recetas)</dt>
      <dd><a href="https://sweetstoves.onrender.com/api/recetas" target="_blank">https://sweetstoves.onrender.com/api/recetas</a></dd>
      <dt>Backend (Usuarios)</dt>
      <dd><a href="https://sweetstoves.onrender.com/api/usuarios" target="_blank">https://sweetstoves.onrender.com/api/usuarios</a></dd>
    </dl>
  </div>
</div>
